<!DOCTYPE html>
<html>
   <head>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
      <title>Adam Abdalla - Home</title>
   </head>
   <body>
      <a href="home.html">
        <img id = "logo" src = "../assets/img/logo.png"  width = 120 alt = "AA">
      </a>
      <div class = "centered">
         <img id = "full_logo" src = "../assets/img/full_logo.png"  width = 500 alt = "Adam Abdalla">
         <div id = "titles">
            <div>software developer</div>
            <div>|</div>
            <div>student</div>
            <div>|</div>
            <div>website designer</div>
         </div>
         <div class = "buttons">
            <a href="about.html">
            <img id = "about_red" src = "../assets/img/about_red.png"  width = 244 alt = "about">
            </a>
            <a href="cats.html">
            <img id = "cats_red" src = "../assets/img/cats_red.png"  width = 244 alt = "cats">
            </a>
         </div>
      </div>
   </body>
</html>
